.panieruno {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-between;
  border: 2px solid rgb(205, 56, 48);
}

.card-title {
  text-align: center;
}
.card-top {
  background-color: rgb(245, 195, 207);
  color: rgb(205, 56, 48);
  border-top-left-radius: 28px !important;
  border-top-right-radius: 28px !important;
}
h1 {
  font-size: 30px;
  color: rgb(205, 56, 48);
  text-align: center;
}

.card-body {
  background-color: white;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  max-height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

// .container {
//   display: flex;
//   flex-wrap: wrap;
//   width: 100%;
// }

.row {
  display: flex;
  flex-wrap: wrap; /* Ajouté pour s'assurer que les éléments passent à la ligne suivante si nécessaire */
  justify-content: space-between;
}

.col-md-4 {
  flex: 0 0 calc(33.333% - 20px); /* Ajustement pour prendre en compte les marges */
  margin: 10px; /* Ajuster la marge selon les besoins */
}
