.cart-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 50%;
  border-color: rgb(205, 56, 48);
  width: 100%;
}

.bottom-card-index {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 249, 250);

  padding: 20px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: scroll;



}

.bottom-card-index::-webkit-scrollbar {
  display: none;
}



.cart-number{
  justify-content: center!important;
  background-color:rgb(36, 102, 74);
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  height: 70px;
  display: flex;
  align-items: center;
  color: white;
 padding-bottom: 10px;
}

.page-title {
  font-size: 40px;
  color:black;
  text-align: center;
  font-weight: 600;
  margin-top: 80px;
}

.cart-body {
  max-height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.cart-row {
  display: flex;
  justify-content: space-between;
}

.text-right {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px 0 10px 10px;
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn-retour{
  width: 50px;
  background-color: none;
  color: black;
  font-weight: 400;
  border-radius: 10px;
  border: px solid  black;
  text-decoration: none;
}

.tamere {
  color: rgb(205, 56, 48);
  background-color: rgb(245, 195, 207);
  border-color: rgb(205, 56, 48);
  // flex-grow: 1;
  font-weight: 800;
  border: 2px solid rgb(205, 56, 48);
  text-decoration: none;
  width: 40% !important;
  height: 45px;
  transition: background-color 0.3s;
  flex-shrink: 0;
  border-radius: 20px;
}

.my-3:hover {
  background-color: rgb(205, 56, 48);
  color: white;
}

.progress{
width: 80%;
margin: 20px auto;
flex-shrink: 0;
}

.progress-bar-custom {

background: rgb(36, 102, 74);
//   background: rgb(245,195,207);
// background: linear-gradient(90deg, rgba(245,195,207,1) 8%, rgba(205,48,48,1) 93%);
}

.carts {
  margin-top: 100px;
}

.block{
  justify-content: space-evenly;
}


.carts{
  margin-top: 100px;
}

.pt-3 {
  font-weight: bold;
}

.text-panier{
  font-weight: bold;
}

.nathan {
  background-color: rgb(248, 249, 250);
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  padding-top:1px;
  margin-top: 10px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 150px;
}
