.cart-list {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  border-radius: 50%;
  border-color: rgb(205, 56, 48);
  width: 100%;
}

.list-group-flush {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  width: 40%;
  height: 400px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-number{
  justify-content: center!important;
  background-color: #304630;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  height: 70px; /* Updated height */
  display: flex;
  align-items: center; /* Center text vertically */
  color: white;
}

.pt-5 {
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: black
}

.cart-body {
  max-height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.text-right {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.cart-index {
  height:800px;
}

.btn-retour{
  width: 50px;
  background-color: none;
  color: black;
  font-weight: 400;
  border-radius: 10px;
  border: px solid  black;
  text-decoration: none;
}

.my-3{
  background-color: rgb(245, 195,207);
  color: rgb(205,56,48);
  font-weight: 800;
  border-radius: 30px;
  border: 2px solid  rgb(205,56,48);
  text-decoration: none;
  width: 80%;
  transition: background-color 0.3s;
  }

  .my-3:hover {
    background-color: rgb(205, 56, 48); /* Change color on hover */
    color: white;
  }


.progress{
  width: 80%;
  margin: 20px auto;
}

.carts {
  margin-top: 100px;
}
