.background-white {
  background-color: white;
  width: 100%;
  height: 400px;
}

.image {
  background-image: url("nappe2.jpg");
  background-size: cover;
  background-position: 25% 75%;
  box-shadow: 10px 5px 5px grey;
}

.red {
  background-image: url("kraft.png");
  background-position: cover;
}

.simple_form.query {
  display: inline-block;
  width: auto;
  margin-bottom: 1rem; /* Adjust the margin-bottom as needed */

}

.select {
  vertical-align: top;
}

.search-bar {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#imagedesc {
  margin-top: 10px;
  color: #24664a;
  width: 55%;
  align-items: center;
}

.third {
  .form-select {
    width: 100%;
  }
  background-color: #24664a;
}

///////////////////////////
///
///
.banner {
  padding: 330px 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 16.58%,
      rgba(0, 0, 0, 0) 43.32%
    ),
    url("bg-nappe.png");
  background-size: cover;
  & > .row {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form {
  margin-top: -50px;
  padding: 80px;
  max-width: 750px;

}

.form form {
  display: flex !important;
  align-items: baseline;
  gap: 10px;
}

.pad-img {
  padding: 0 10px;
}

.div-last {
  padding-bottom: 10px;
}
