@import "show";

h1 {
color:rgb(205,56,48);
font-size: 30px;
}

h2{
  font-size: 20px;
  color: rgb(205,56,48);
}

h3 {
  font-size: 15px;
}

.card{
  border-radius: 30px;
}

.border-card-red {
  border: 2px solid  rgb(205,56,48);
}

.title{
  text-align: center;
}

.card-header {
  border-top-left-radius: 28px !important;
  border-top-right-radius: 28px !important;
  height:250px;
}

.farmer-name {
text-align: center;
}

.card-footer{
  border-bottom-left-radius: 29px !important;
  border-bottom-right-radius: 29px !important;
}

.btn-primary{
  background-color: rgb(245, 195,207);
  color: rgb(205,56,48);
  font-weight: 800;
  border-radius: 30px;
  border: 2px solid  rgb(205,56,48);
  text-decoration: none;
  }

.img {
border-radius: 50%;
}

.border-squared {
  max-height: 400px;
  overflow: scroll;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
