.container_producteur {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  min-height: 400px;
background-color: rgb(36, 102, 74)
}

.show_producteur {
  font-size: 40px;
}


.show_pdt img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px;
}

.network-photo img {
  width: 100%;
  min-height: 45%;
  max-height: 55%;

  object-fit: cover;
}


.card-body-producteur {
  background-color: white;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form_product_quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: rgb(255, 82, 81);
}

.wrapper {
  background-color: rgb(255, 82, 81);
}

.top-producteur {
  background-color: white;
}
