.background-network {
  padding-top: 215px;
}

.container_producteur {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  align-items: center;
  min-height: 400px;
  background-size: cover;
  margin-top: 20px;
}

.producteur {
  background-color: rgb(36, 102, 74);
  min-width: 100%;
}

.min-ship {
  p:first-child {
    margin-top: 20px;
    font-size: 1.3em;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.show_producteur {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -15px;
  /* Adjusted to offset the margin introduced by negative margin */
  margin-right: -15px;
  /* Adjusted to offset the margin introduced by negative margin */
}

.show_pdt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: rgb(18, 51, 37);
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

.show_pdt img {
  height: 200px;
  width: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: fill;
}

.network-photo img {
  width: 100%;
  min-height: 45%;
  max-height: 55%;

  object-fit: cover;
}

.card-body-producteur {
  border-radius: 10px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 60%,
    rgba(36, 102, 74, 1) 60%
  );
}

.form_product_quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nom > h1 {
  font-size: 40px;
  color: white;
}

.margin-product {
  margin-top: 20px;
}

.container-produit-network {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.container-produit-network .card-product-network {
  flex: 0 0 calc(33.33% - 40px);
  margin: 50px 8px 50px 8px;
  box-sizing: border-box;
}

.bande-verte {
  background-color: rgb(36, 102, 74);
  padding-bottom: 80px;
  margin-top: 20px;
}

.card-product-network {
  position: relative;
  padding-top: 70px;
  margin: 50px;
  border-radius: 10px;
  justify-content: center;
  font-size: 20px;

  padding-top: 0px;
}

.photo-produits img {
  border-radius: 50%;
}

.photo-produits {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 60px;
  background-color: rgb(36, 102, 74);
  // margin-top: 20px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.tamere {
  color: rgb(205, 56, 48);
  background-color: rgb(245, 195, 207);
  border-color: rgb(205, 56, 48);
  // flex-grow: 1;
  font-weight: 800;
  border: 2px solid rgb(205, 56, 48);
  text-decoration: none;
  width: 60%;
  height: 45px;
  transition: background-color 0.3s;
  flex-shrink: 0;
  border-radius: 20px;
}

.dnd {
  min-width: 310px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fixed-div {
  width: 30%;
  overflow: auto;
  margin-top: 50px;
  position: sticky;
  top: 30px;
  right: 50px;
  align-self: start;

  .top-cart {
    padding: 8px;
    background-color: #24664a;
    border-radius: 10px 10px 0 0;

    h1 {
      padding: 0;
      color: white;
    }
  }

  .bottom-cart {
    margin-top: 8px;
    padding: 20px;
    background-color: #fff;
  }
}

.tamereettonpere {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.form_product_quantity {
  font-size: 30px;
  max-width: 200px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item p {
  margin: 0;
  /* Adjust as needed */
}

.divdubasdupannierdelashowdedesnetworkdenotresite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: bolder;

  p {
    margin: 0;
  }
  .progress {
    width: 83%;
    margin: 0 0 10px 0;
  }

  .sum-of-all {
    text-align: center;
    margin-top: 10px;
  }

  #mon-panier-network {
    border: black solid 2px;
    padding: 5px;
    font-size: 18px;
    border-radius: 20px;
  }
}
