<div class="progress" style="width: 83%;" data-cart-min-shipping-amount="<%= @cart.network.minimum_shipping_amount.to_f %>">
  <div class="progress-bar progress-bar-custom w-0" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-cart-items-target="progress"></div>
</div>
