
<% @networks.each do |network| %>
  <div id="network-card-list">
    <div class="network-card" style="background-image: url('<%= cl_image_path(network.photo.last.key) %>');">
      <div class="network-card__overlay"></div>
      <div class="network-card__content">
        <div class="network-card__header">
          <h1 class="network-card__title"><%= network.name %></h1>
          <h4 class="network-card__info"></h4>
        </div>
        <p class="network-card__desc"><%= network.description %></p>
        <button class="btn btn-outline network-card__button" type="button">Découvrir la Coopérative</button>
      </div>
    </div>
  </div>
<% end %>
