<h1>Networks</h1>

<ul>
  <% @networks.each do |network| %>
    <li>
      <h2><%= network.name %> Network</h2>
      <ul>
        <% network.users.farmer.each do |farmer| %>
          <li><%= farmer.name %></li>
          <!-- Add more farmer details as needed -->
        <% end %>
      </ul>
      <%= link_to 'View Network', network_path(network), class: 'btn btn-primary' %>
    </li>
  <% end %>
</ul>
