<h1><%= @network.name %> </h1>

<h2>Farmers in this Network:</h2>

<ul>
  <% @network_farmers.each do |farmer| %>
    <li><%= farmer.name %></li>
  <% end %>
</ul>

<%= link_to 'Back to Networks result', networks_path %>
