<h1><%= @network.name %> Network</h1>

<h2>Farmers in this Network:</h2>

<ul>
  <% @farmers.each do |farmer| %>
    <li><%= farmer.name %></li>
    <li><%= farmer.description %></li>
  <% end %>
</ul>

<%= link_to 'Back to Networks result', networks_path %>
