  <div class="background-network">
    <div class="top-producteur">
      <h1><%= @network.name %></h1>
    </div>

    <div class="container_producteur">
      <div class="show_producteur">
        <% @network_farmers.each do |farmer| %>
          <div class="show_pdt shadow">
            <%= cl_image_tag farmer.photo.last.key %>
            <div style="margin-top: 10px; margin-bottom: 10px;">
              <%= farmer.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row" data-controller="cart-items">
        <%= render "networks/list", network_farmers: @network_farmers %>
    </div>

  </div>



<script>
  function incrementQuantity(formId) {
    var input = document.getElementById("quantity_" + formId);
    var value = parseInt(input.value);
    input.value = value + 1;
  }

  function decrementQuantity(formId) {
    var input = document.getElementById("quantity_" + formId);
    var value = parseInt(input.value);
    if (value > 1) {
      input.value = value - 1;
    }
  }
</script>
