<body>
  <div class="container-produit-show">
   <div class="title pt-4">
    <h1 class="page-title"> Nos Produits</h1>
  </div>
  <div id="ingredients-list">
    <% @ingredients.group_by(&:category).each do |category, ingredients| %>
      <div class="ingredient col-md-4 shadow">
        <div class="cardpasboostrap-index-produit">
          <div class="category-top shadow">
            <h2 class="category-title py-3"><%= category %></h2>
          </div>
          <div class="ingredient-body shadow">
            <div class="ingredients-grid">
              <% ingredients.each do |ingredient| %>
                <div class="ingredient-item">
                    <a href="<%= "/networks/25" %>">
                      <%= cl_image_tag ingredient.photo.first.key, height: 100, width: 100 %>
                    </a>
                  <p class="card-text"><%= ingredient.name %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
