<div class="container">
  <h1>Mes Paniers</h1>
  <p>Generated Recipe:</p>
  <p><%= @name %></p>
  <% @steps.each do |step| %>
    <p><%= step %></p>
  <% end %>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
  </ul>
</div>
