<div class="cart-index d-flex flex-column">
  <div class="carts" data-controller="cart">
    <div>
      <h1 class="pt-5 page-title">Mes Paniers</h1>
    </div>
    <div class="cart-list" data-controller="cart-items">
      <% @carts.each do |cart| %>
        <% unless cart.cart_items.empty? %>
          <div class="col-md-4 list-group-flush m-5" id="cart<%= cart.network.name %>-items" data-cart-items-target="cart">
            <%= render "carts/cart_list", cart: cart %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
