
<div class="container">
<h1> Mes Paniers </h1>

  <ul>
    <% @carts.each do |cart| %>
      <li>
        <p> Cart ID: <%= cart.id %></p>
        <%= cart.ingredient %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Retour', home_path, class:"btn-primary btn-lg p-2 mx-1"  %>
</div>
