.navbar-lewagon {
  justify-content: space-between;
  background-image: url('carreaux.png');
  height: 125px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}


