.navbar-lewagon {
  justify-content: space-between;
  // background-image: url('carreaux.png');
  background-color: white;
  height: 125px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.btn-primary{
  background-color: rgb(245, 195,207);
  color: rgb(205,56,48);
  border-radius: 30px;
  border: 2px solid  rgb(205,56,48);
  text-decoration: none;
  }
